<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\nlog-internal.log"
      internalLogLevel="Info" >

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
                    layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

        <target xsi:type="Mail"
                name="mail"
                smtpServer="${environment:NLOG_SMTP_SERVER}"
                smtpPort="${environment:NLOG_SMTP_PORT}"
                enableSsl="false"
                smtpAuthentication="None"
                from="${environment:NLOG_FROM}"
                to="${environment:NLOG_TO}"
                subject="Spoleto.Delivery.Callback.MasterPost WinService error"
                addNewLines="true"
                layout="${uppercase:${level}}  ${logger} ${environment-user} ${message} ${exception:format=tostring}"
        />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Output hosting lifetime messages to console target for faster startup detection -->
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="logconsole, logfile" final="true" />

        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <!--Skip non-critical System logs and so log only own logs-->
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
        <!-- BlackHole without writeTo -->

        <logger name="*" minlevel="Information" writeTo="logfile" />

        <logger name="*" minlevel="Error" writeTo="mail">
            <filters defaultAction="Log">
                <when condition="'${environment:NLOG_SMTP_SERVER}' == '' or '${environment:NLOG_SMTP_PORT}' == '' or '${environment:NLOG_FROM}' == '' or '${environment:NLOG_TO}' == ''"  action="Ignore" />
            </filters>
        </logger>
    </rules>
</nlog>